.timer-div {
    margin: 0 auto;
    width: 400px;
    height: 150px;
    background-color: black;
    border-radius: 15px;
    position: relative;
}

h1 {
    color: red;
    margin-top: 30px;
    position: absolute;
    margin-left: 69px;
    font-size: 60px;
    font-family: none;

}